{% extends 'components/slidingpanel.html' %}
{% block panelStyle %}
<style>
    .ap-outerdiv {
        border-style: solid;
        border-color: #000b5a;
        background-color: white;
        margin-right: 10px;
    }
    .ap-langsel {
        margin-left: 40px;
    }
    .ap-language {
        color: #112550;
        margin: 15px 0 0 70px;
        font-size: 15px;
    }
    .ap-accmenu {
        font-size: 20px;
        margin-left: 130px;
        color: #112550;
    }
    .ap-icon-help {
        font-size: 30px;
        margin-left: 50px;
    }
</style>
{% endblock %}
{% block panelContent %}
<div class="ap-outerdiv">
    <div class="ap-langsel">Language Selector</div>
    <div class="ap-language">English</div>
    <div>
        <span class="ap-accmenu">Accessibility Menu</span>
        <i class="icon-help ap-icon-help"></i>
    </div>
</div>
{% endblock %}