{% extends 'components/partials/expandingpanel.html' %}
{% block PanelStyle %}
<script>
    function MoveSlider_1_Left()
    {
        sliderVal = parseInt(document.getElementById("slider_1").value);
        sliderVal -= 5;
        let root = document.documentElement;
        if (sliderVal > 0)
        {
            root.style.setProperty('--sliderpos1', sliderVal + "%");
            document.getElementById("slider_1").value = sliderVal;
        }
    }
    function MoveSlider_1_Right()
    {
        sliderVal = parseInt(document.getElementById("slider_1").value);
        sliderVal += 5;
        let root = document.documentElement;
        if (sliderVal <= 100)
        {
            root.style.setProperty('--sliderpos1', sliderVal + "%");
            document.getElementById("slider_1").value = sliderVal;
        }
    }
</script>
{% endblock %}
{% block PanelContent %}
<div style="margin: 0 5px 0 5px; font-size: 12px;">
<div class="ap-div-cc">
    <div class="ap-icon-col">
        <i class="icon-opacity-24px"></i>
    </div>
    <div class="ap-cc-text">
        <div>Custom Colour</div>
        <div>Change the site's colours</div>
    </div>
</div>
<div class="ap-div-col">
    <div class="ap-box-cc">
        <div class="ap-icon-col-big"><i class="icon-opacity-24px"></i></div>
        <div class="ap-box-cc-text">Custom Colour</div>
    </div>
    <div class="ap-div-sc">
        <div class="ap-sc-circle" id="ap-colsel"></div>
        <div class="ap-sc-text">Selected Colour</div>
    </div>
</div>
<div class="ap-div-tabs">
    <div class="ap-tab-bground">Background</div>
    <div class="ap-tab-other">Headings</div>
    <div class="ap-tab-other">Content</div>
</div>
<div class="ap-hslcolorpicker">

<!-- initial value is set to 0 but would be set as a django/python value -->

		<input type="range" min="0" max="360" value="0" class="ap-slider" id="myRange">
</div>
<div>
	Saturation
	<input type="range" min="0" max="100" value="100" style="width:100%" id="saturation">
</div>
<div>
	Brightness
	<input type="range" min="0" max="100" value="50" style="width:100%" id="brightness">
</div>
<script>
 	var hslSlider = document.getElementById("myRange");
	var saturationSlider = document.getElementById("saturation");
	var brightnessSlider = document.getElementById("brightness");
	let root = document.documentElement;
	hslSlider.oninput = function() {
		root.style.setProperty('--current-hsl', 360 - this.value)
	}

	saturationSlider.oninput = function() {
		root.style.setProperty('--saturation', this.value + "%")
	}

	brightnessSlider.oninput = function() {
		root.style.setProperty('--lightness', this.value + "%")
	}
</script>
<div>
    <span class="ap-span-rc">Reset colours</span><i class="icon-reset-colour ap-icon-rc"></i>
</div>
<div class="ap-bpcpp">
    <span>Background Preset Colours</span>
    <br>
    <span>Pastel Panel</span>
</div>
<div class="ap-col-circles">
    <div class="ap-circle-1">#9FC7D8</div>
    <div class="ap-circle-2">#E9F6DC</div>
    <div class="ap-circle-3">#EAE6F6</div>
    <div class="ap-circle-4">#F1DEDD</div>
    <div class="ap-circle-5">#DECDBF</div>
    <div class="ap-circle-6">#F2F2F2</div>
</div>
<div class="ap-div-contrast">
    <div class="ap-contrast-box">
        <div class="ap-icon-contrast"><i class="icon-bright-high-contrast"></i></div>
        <div>Bright / High Contrast</div>
    </div>
    <div class="ap-contrast-box">
        <div class="ap-icon-contrast"><i class="icon-dark-high-contrast"></i></div>
        <div>Dark / High Contrast</div>
    </div>
    <div class="ap-contrast-box">
        <div class="ap-icon-contrast"><i class="icon-contrast-mode"></i></div>
        <div>Contrast Mode</div>
    </div>
</div>
<div class="ap-bottom-slider">
    <input type="range" min="0" max="100" value="30" class="ap-slider-bar" id="slider_1">
    <div class="ap-bottom-slider-left">
        <span><i class="icon-remove_circle-24px" onclick="MoveSlider_1_Left()" style="font-size: 24px;"></i></span>
        <span class="ap-icon-bottom-slider-right"><i class="icon-add_circle-24px" onclick="MoveSlider_1_Right()" style="font-size: 24px;"></i></span>
    </div>
</div>
<script>
    var Slider = document.getElementById("slider_1");
    let root1 = document.documentElement;
    Slider.oninput = function()
    {
        root1.style.setProperty('--sliderpos1', this.value + "%");
    }
</script>
</div>

{% endblock %}