    <div class="cam-odiv">
        <i class="icon-views cam-views"></i>
        <div class="cam-cam">
            <span class="cam-cam-text cam-span">Community: Approval Mechanism</span>
            <span class="cam-other-text cam-span">List view of submitted events for approval</span>
            <div class="cam-boticons">
                <i class="icon-folder-whole cam-ico"></i><span>&nbsp Templates</span>
                <i class="icon-edit cam-ico-space"></i><span>&nbsp Edit</span>
                <i class="icon-delete cam-ico-space"></i><span>&nbsp Delete</span>
                <i class="icon-help cam-ico-space"></i><span>&nbsp Help</span>
            </div>
        </div>
        <div class="cam-mod">
            <span class="cam-span">Moderations</span>
            <div>
                <i class="icon-check cam-tick"></i><i class="icon-close cam-cross"></i>
            </div>
            <span class="cam-app-bl cam-span"> 1 Approved &nbsp &nbsp &nbsp 2 Blocked</span>
            <input placeholder="Search" class="cam-input">
        </div>
    </div>
