{% extends 'components/partials/expandingpanel.html' %}
{% block PanelStyle %}
{% endblock %}
{% block PanelContent %}
<div style="margin: 0 5px 0 5px; font-size: 12px;">
    <div class="ap-fs-outerdiv">
        <i class="icon-font-sizing ap-icon-fs"></i>
        <span class="ap-fs-text">Font Sizing<br>Increase & Decrease Font</span>
    </div>
    <div class="ap-fs-box">
        <div class="ap-icon-fs-box"><i class="icon-font-sizing"></i></div>
        <div>Font Sizing</div>
    </div>
    <div class="ap-flw-outerdiv">
        <div class="ap-fs-button">
            Font Size
        </div>
        <div class="ap-lws-button">
           Line Spacing
        </div>
        <div class="ap-lws-button">
           Word Spacing
        </div>
    </div>
    <div class="ap-icon-lum">
        <i class="icon-luminance" style="font-size: 15px"></i>
        <span style="margin-left: 15px;">High Contrast / Low Luminance Text</span>
    </div>
    <div class="ap-lum-outerdiv">
        <div class="ap-hcl">
            <div class="ap-hc1-desc">
                {{AP_HCL.Desc}}
            </div>
            <div class="ap-hcl-title">
                High Contrast 1
            </div>
        </div>
        <div class="ap-hcl">
            <div class="ap-hc2-desc">
                {{AP_HCL.Desc}}
            </div>
            <div class="ap-hcl-title">
                High Contrast 2
            </div>
        </div>
        <div class="ap-hcl">
            <div class="ap-hc3-desc">
                {{AP_HCL.Desc}}
            </div>
            <div class="ap-hcl-title">
                Low Luminance 1
            </div>
        </div>

    </div>
    <div class="ap-hcl">
        <div class="ap-hc4-desc">
            {{AP_HCL.Desc}}
        </div>
        <div class="ap-hcl-title">
            Low Luminance 2
        </div>
    </div>

    <div class="ap-mag-div">
        <div style="padding: 10px;"><i class="icon-magnifier" style="font-size: 18px;"></i></div>
        <div>
            Magnifier<br>Increase & Decrease View
        </div>
    </div>
    <div class="ap-mag-box">
        <div style="padding: 10px;"><i class="icon-magnifier" style="font-size: 25px;"></i></div>
        <div>Magnifier</div>
    </div>
</div>
{% endblock %}