<style>
    td, th {
        border: 1px solid grey;
    }
    td {
        color: grey;
    }
    thead {
        color: white;
        background-color: navy;
    }
    table {
        border-collapse: collapse;
    }
    .mone-tick {
        color: green;
        padding: 4px 0 0 2em;
    }
    .mone-cross {
        color: red;
        padding: 4px 0 0 2em;
    }
    .mone-mod {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 70px;
    }
    .mone-butsub {
        background-color: orange;
        color: white;
        border-radius: 5px;
        border-color: orange;
    }
    .mone-cb {
        border: none;
        background-color: white;
    }
    .mone-resp {
        padding: 0 1em 0 1em;
    }
    .mone-respbb {
        padding-bottom: 1em;
    }
    .mone-bs {
        padding: 8px 0 1em 1em;
    }
</style>
<table style="width: 100%;">
    <thead>
        <tr>
            <th class="mone-cb"></th>
            <th>DOC ID</th>
            <th>Date</th>
            <th>Doc Group</th>
            <th>Name</th>
            <th>Version / Profile</th>
            <th>Display</th>
        </tr>
    </thead>
    <tbody>
        {% for record in data %}
        <tr>
            <td class="mone-cb"><input type="checkbox"></td>
            <td>{{record.ID}}</td>
            <td>{{record.Date}}</td>
            <td>{{record.Group}}</td>
            <td>{{record.Name}}</td>
            <td>{{record.Version}}</td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
