<table style="width: 100%;">
    <thead>
        <tr>
            <th class="mone-cb"></th>
            <th>DOC ID</th>
            <th>Date</th>
            <th>Doc Group</th>
            <th>Name</th>
            <th>Version / Profile</th>
            <th>Display</th>
        </tr>
    </thead>
    <tbody>
        {% for record in data %}
        <tr>
            <td class="mone-cb"><input type="checkbox"></td>
            <td>{{record.ID}}</td>
            <td>{{record.Date}}</td>
            <td>{{record.Group}}</td>
            <td>{{record.Name}}</td>
            <td>{{record.Version}}</td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
