{% extends './partials/modal.html' %}

<script>

        //citizenSciencePlatform_dropzonefunctions.attachDropzone('{{modalID}}-dz');
       // function showImageUpload() {
        //document.getElementById("upload").style.display = "block"
       // citizenSciencePlatform_modalfunctions.ShowModal("{{modalID}}");
    //}

//    function hideImageUpload() {
 //       document.getElementById("upload").style.display = "none"
 //   }


</script>
{% block componentContent %}
<div class="ui-toptext">Upload Media (Photo or Sound)</div>
<div class="ui-upload" id="dropzone">
    <div>
    <form class="dropzone ui-upload-dashed-borderx needsclick" id="{{modalID}}-dz" action="/upload">
        <div style="background-color: #ffe4c4;border-radius: 7px; padding: 5px;">
            <div class="ui-div-icon-upload">
                <i class="icon-upload ui-icon-upload"></i>
            </div>
            <div class="ui-ddutext">
                Drag & Drop Upload<br>
                File Types: <span class="ui-file-ext">&nbsp;&nbsp;&nbsp;.jpg .png .mpg .wav</span>
            </div>
            <div class="dz-message needsclick" style="height: 50px;"></div>
    </div>
    </form>

     <div id="{{modalID}}-preview-template" style="display: none;">
            <DIV class="dz-preview dz-file-preview dz-image">
        <IMG data-dz-thumbnail=""></DIV>

     </div>
    </div>
</div>
</div>


{% endblock %}


{% block componentFunctions %}

<script>

        //citizenSciencePlatform_dropzonefunctions.attachDropzone('{{modalID}}-dz');
        //function showImageUpload() {
        //document.getElementById("upload").style.display = "block"
        //citizenSciencePlatform_modalfunctions.ShowModal("{{modalID}}");
    //}

//    function hideImageUpload() {
 //       document.getElementById("upload").style.display = "none"
 //   }


</script>
{% endblock %}
