<link href="/static/css/dropzone.css" rel="stylesheet">
<style>
    .ui-outerdiv {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background-color: #00b9ff5c;
   }
   .ui-highdiv {
        border-style: solid;
        border-width: 2px;
        border-radius: 5px;
        width: 685px;
        height: 450px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -225px;
        margin-left: -342px;
        background-color: white;
   }
   .ui-topdiv {
        border-bottom: 2px solid;
        width: 685px;
        height: 90px;
    }
    .ui-toptext {
        font-size: 20px;
        margin-left: 30px;
        color: #0070d1;
    }
    .ui-span-icon-close {
        display: inline-block;
        float: right;
    }
    .ui-icon-close {
        display: flex;
        justify-content: flex-end;
        margin-top: 5px;
        margin-right: 5px;
        font-size: 30px;
        color: black;
    }
    .ui-upload {
        display: flex;
        flex-direction: row;
    }
    .dropzone {
        margin: 10px;
        border-style: dashed;
        border-radius: 5px;
        border-color: #0070d1;
        width: 650px;
        height: 330px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .ui-icon-upload {
        font-size: 60px;
     }
    .ui-div-icon-upload {
        margin-left: 250px;
    }
    .ui-ddutext {
        text-align: center;
        line-height: 25px;
        margin-top: 10px;
    }
    .ui-file-ext {
        font-size: 12px;
    }
    .ui-icon-attach {
        font-size: 20px;
    }
    .ui-file-details {
        margin: 20px 0 0 155px;
    }
    .ui-filename {
        font-size: 12px;
    }
    .ui-icon-cfu {
        margin-left: 230px;
        font-size: 23px;
        color: black;
    }
    .ui-hr {
        width: 250px;
        height: 8px;
        margin-left: 180px;
        color: #0070d1;
        background-color: #0070d1;
    }
    .ui-progress {
        margin-left: 180px;
    }
    .ui-image-div {
        margin: 40px 0 0 20px;
        position: relative;
        top: 0;
        left: 0;
    }
    .ui-image {
        width: 90px;
        border-style: dashed;
        border-radius: 5px;
    }
    .ui-image-tickbox {
         position: absolute;
         top: 40px;
         left: 40px;
         color: green;
    }
</style>
<script src="/static/dropzone.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.js"></script>-->
<script>
    function showImageUpload() {
        document.getElementById("upload").style.display = "block"
    }
        function hideImageUpload() {
        document.getElementById("upload").style.display = "none"
    }
var dropzone = new Dropzone('#demo-upload', {
  previewTemplate: document.querySelector('#preview-template').innerHTML,
  parallelUploads: 2,
  thumbnailHeight: 120,
  thumbnailWidth: 120,
  maxFilesize: 3,
  acceptedFiles: "image/jpeg,image/png,video/mpeg,audio/wav",
  filesizeBase: 1000,
  thumbnail: function(file, dataUrl) {
    if (file.previewElement) {
      file.previewElement.classList.remove("dz-file-preview");
      var images = file.previewElement.querySelectorAll("[data-dz-thumbnail]");
      for (var i = 0; i < images.length; i++) {
        var thumbnailElement = images[i];
        thumbnailElement.alt = file.name;
        thumbnailElement.src = dataUrl;
      }
      setTimeout(function() { file.previewElement.classList.add("dz-image-preview"); }, 1);
    }
  }

});

</script>
</head>
<body>
<div class="ui-outerdiv" id="upload">
   <div class="ui-highdiv">
     <div class="ui-topdiv">
         <div style="height: 30px;">
             <span class="ui-span-icon-close">
                <i class="icon-close ui-icon-close" onclick="hideImageUpload()"></i>
             </span>
         </div>
         <div class="ui-toptext">Upload Media (Photo or Sound)</div>
     </div>
        <div class="ui-upload" id="dropzone">
        <div>
        <form class="dropzone ui-upload-dashed-borderx needsclick" id="demo-upload" action="/upload">
            <div style="background-color: #ffe4c4;border-radius: 7px; padding: 5px;">
                <div class="ui-div-icon-upload">
                    <i class="icon-upload ui-icon-upload"></i>
                </div>
                <div class="ui-ddutext">
                    Drag & Drop Upload<br>
                    File Types: <span class="ui-file-ext">&nbsp;&nbsp;&nbsp;.jpg .png .mpg .wav</span>
                </div>
                <div class="dz-message needsclick"></div>
        </div>
        </form>
<!--        <div class="ui-file-details">

                <i class="icon-attachment ui-icon-attach"></i>
                <span class="ui-filename">&nbsp;&nbsp;&nbsp;busy-tube.png</span>
                <i class="icon-close ui-icon-cfu"></i>
            </div>
            <hr class="ui-hr">
            <span class="ui-progress">100% uploaded &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0 minutes left</span>
        </div>-->

         <div id="preview-template" style="display: none;>
                <DIV class="dz-preview dz-file-preview dz-image">
            <IMG data-dz-thumbnail=""></DIV>
                 <!--<img src="static/img/busy-tube.png" class="ui-image">-->
                 <!--<i class="icon-check_circle ui-image-tickbox"></i>-->
         </div>
   </div>
   </div>
</div>

<!--<h1>DropzoneJS File Upload Demo</h1>
<SECTION>
  <DIV id="dropzone">
    <FORM class="dropzone needsclick" id="demo-upload" action="/upload">
      <DIV class="dz-message needsclick">
        Drop files here or click to upload.<BR>
        <SPAN class="note needsclick">(This is just a demo dropzone. Selected
        files are <STRONG>not</STRONG> actually uploaded.)</SPAN>
      </DIV>
    </FORM>
  </DIV>
</SECTION>-->


