{% extends './partials/modal.html' %}
<link href="/static/css/dropzone.css" rel="stylesheet">
<style>
    .ui-master-div {
        position: relative;
        top: 0;
        left: 0;
    }
    .ui-button {
        color: var(--autistica-white);
        background-color: var(--autistica-mint-green);
        border-color: var(--autistica-mint-green);
        padding: 5px;
    }

    .ui-outerdiv {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background-color: #00b9ff5c;
   }
   .ui-highdiv {
        border-style: solid;
        border-width: 2px;
        border-radius: 5px;
        width: 685px;
        height: 450px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -225px;
        margin-left: -342px;
        background-color: white;
   }
   .ui-topdiv {
        border-bottom: 2px solid;
        width: 685px;
        height: 90px;
    }
    .ui-toptext {
        font-size: 20px;
        margin-left: 30px;
        color: #0070d1;
    }
    .ui-span-icon-close {
        display: inline-block;
        float: right;
    }
    .ui-icon-close {
        display: flex;
        justify-content: flex-end;
        margin-top: 5px;
        margin-right: 5px;
        font-size: 30px;
        color: black;
    }
    .ui-upload {
        display: flex;
        flex-direction: row;
    }
    .dropzone {
        margin: 10px;
        border-style: dashed;
        border-radius: 5px;
        border-color: #0070d1;
        width: 650px;
        height: 330px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .ui-icon-upload {
        font-size: 60px;
     }
    .ui-div-icon-upload {
        margin-left: 250px;
    }
    .ui-ddutext {
        text-align: center;
        line-height: 25px;
        margin-top: 10px;
    }
    .ui-file-ext {
        font-size: 12px;
    }
    .ui-icon-attach {
        font-size: 20px;
    }
    .ui-file-details {
        margin: 20px 0 0 155px;
    }
    .ui-filename {
        font-size: 12px;
    }
    .ui-icon-cfu {
        margin-left: 230px;
        font-size: 23px;
        color: black;
    }
    .ui-hr {
        width: 250px;
        height: 8px;
        margin-left: 180px;
        color: #0070d1;
        background-color: #0070d1;
    }
    .ui-progress {
        margin-left: 180px;
    }
    .ui-image-div {
        margin: 40px 0 0 20px;
        position: relative;
        top: 0;
        left: 0;
    }
    .ui-image {
        width: 90px;
        border-style: dashed;
        border-radius: 5px;
    }
    .ui-image-tickbox {
         position: absolute;
         top: 40px;
         left: 40px;
         color: green;
    }
</style>
<script>
        citizenSciencePlatform_dropzonefunctions.attachDropzone('{{modalID}}-dz');
        function showImageUpload() {
        //document.getElementById("upload").style.display = "block"
        citizenSciencePlatform_modalfunctions.ShowModal("{{modalID}}");
    }

//    function hideImageUpload() {
 //       document.getElementById("upload").style.display = "none"
 //   }


</script>
{% block componentContent %}
<div class="ui-toptext">Upload Media (Photo or Sound)</div>
<div class="ui-upload" id="dropzone">
    <div>
    <form class="dropzone ui-upload-dashed-borderx needsclick" id="{{modalID}}-dz" action="/upload">
        <div style="background-color: #ffe4c4;border-radius: 7px; padding: 5px;">
            <div class="ui-div-icon-upload">
                <i class="icon-upload ui-icon-upload"></i>
            </div>
            <div class="ui-ddutext">
                Drag & Drop Upload<br>
                File Types: <span class="ui-file-ext">&nbsp;&nbsp;&nbsp;.jpg .png .mpg .wav</span>
            </div>
            <div class="dz-message needsclick"></div>
    </div>
    </form>


     <div id="preview-template" style="display: none;>
            <DIV class="dz-preview dz-file-preview dz-image">
        <IMG data-dz-thumbnail=""></DIV>

     </div>
</div>



{% endblock %}


{% block componentFunctions %}

<script>
        citizenSciencePlatform_dropzonefunctions.attachDropzone('{{modalID}}-dz');
        function showImageUpload() {
        //document.getElementById("upload").style.display = "block"
        citizenSciencePlatform_modalfunctions.ShowModal("{{modalID}}");
    }

//    function hideImageUpload() {
 //       document.getElementById("upload").style.display = "none"
 //   }


</script>
{% endblock %}



