{%  load i18n %}

<div class="dropdown show">
    <a class="btn btn-autisica dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
        {# placeholder until we get icons #}🌐 &nbsp;{% trans 'Langauge' %}
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">{% trans 'English' %}</a>
        <a class="dropdown-item" href="#">{% trans 'French' %}</a>
        <a class="dropdown-item" href="#">{% trans 'German' %}</a>
    </div>
</div>