{% extends './partials/modal.html' %}

{% block componentStyle%}
{% endblock %}

{% block componentContent %}
        <i id="maid_icon"></i>
        <div class="ma_timeout" id="maid_title"></div>
        <div class="ma_to_text" id="maid_text"></div>
{% endblock %}

{% block componentFunctions %}
<script>
    function showModularAlert(ma_title, ma_text, ma_icon) {
        switch (ma_icon)
        {
            case 1:
                ma_icon_class= "fas fa-exclamation-triangle ma_alert"
                break
            case 2:
                ma_icon_class= "fas fa-exclamation-triangle ma_warning"
                break
            case 3:
                ma_icon_class= "fas fa-info ma_info"
                break
            default:
                ma_icon_class= "fas fa-exclamation-triangle ma_warning"
        }
        //document.getElementById("alert").style.display = "block"
        citizenSciencePlatform_modalfunctions.ShowModal("{{modalID}}");
        document.getElementById("maid_title").innerHTML = ma_title
        document.getElementById("maid_text").innerHTML = ma_text
        document.getElementById("maid_icon").className = ma_icon_class


      /*   
      
      https://www.w3schools.com/js/js_switch.asp

        1 = alert
        2 = warning
        3 = information
        
        ma_icon = alert, warning, information */
    }
</script>
{% endblock %}
