{% extends 'components/partials/expandingpanel.html' %}
{% block PanelStyle %}
{% endblock %}
{% block PanelContent %}
<div class="ap-na-outerdiv">
    <div class="ap-div-nai">
        <i class="icon-screen-reader ap-icon-na"></i>
        <div>Screen Reader</div>
    </div>
    <div class="ap-div-nai">
        <i class="icon-voice-text1 ap-icon-na"></i>
        <div>Voice to Text</div>
    </div>
    <div class="ap-div-nai">
        <i class="icon-voice-commands ap-icon-na"></i>
        <div>Voice Commands</div>
    </div>
</div>
{% endblock %}