
    <div style="display: inline-block; " id="container">
    <div style="background-color: #1b77db; padding-top: 30px; cursor: pointer;" id="item">
        <div style="background-color: var(--autistica-light-green); cursor: default;">
        <div class="peed-outerdiv">
            <div style="width: 100%;">
                <table style="width: 100%; border: none;">
                    <colgroup>
                        <col width="75px">
                        <col width="*">
                        <col width="60px">
                        <col width="60px">

                    </colgroup>
                    <tr>
                        <td style="border: none;">
                            <span class="peed-div-home icon-button">
                                <div>
                                    <i class="icon-home peed-icon-home icon-button"></i>
                                </div>

                            </span>
                        </td>
                        <td style="border: none;">
                            <span class="peed-clear icon-button">
                                <div class="peed-span-ta">
                                    <span class="peed-span-clear">
                                        <i class="icon-clear peed-icon-clear icon-button"></i>
                                    </span>
                                </div>

                            </span>
                        </td>
                        <td style="border: none;">
                            <span class="peed-play icon-button">
                                <span class="peed-play-ispan">
                                    <i class="icon-play_arrow peed-play-icon icon-button"></i>
                                </span>

                            </span>
                        </td>
                        <td style="border: none;">
                            <span class="peed-play">
                                <span class="peed-play-ispan ">
                                    <i class="icon-share peed-play-icon icon-button"></i>
                                </span>
                            </span>
                        </td>
                    </tr>








                    <tr>
                        <td style="border: none;">
                            <div class="peed-text-home">
                                <!-- <span class=""></span> -->
                                Home
                            </div>
                        </td>
                        <td style="border: none;">
                            <div class="peed-exp-div">
                                <span class="peed-exp-text">1. Enter your experiences</span>
                                <span class="peed-clear-text">Clear</span>
                            </div>
                        </td>
                        <td style="border: none;">
                            <div class="peed-play-text">
                                Play
                            </div>
                        </td>
                        <td style="border: none;">
                            <div class="peed-play-text">
                                Share
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>




        <div class="peed1-outerdiv">
            <table style="border: none;">
                {% for rw in peed_ele_row %}
                <tr>
                    {% for cl in rw.peed_ele_col %}
                    <td style="border: none;">
                        <span class="peed1-span-item card-button">
                            <span class="peed1-span-itext">{{cl.text}}</span>
                            <span class="peed1-span-iicon"><i class="{{cl.icon}} peed1-icon" id="i{{cl.icon}}"></i></span>
                        </span>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>





        <div class="peed2-outerdiv">
            <span class="peed2-div-item">
                <span class="peed2-span-icon card-button"><i class="icon-profile peed2-icon"></i></span>
                <div class="peed2-span-text">About Me</div>
            </span>
            <span class="peed2-div-item">
                <span class="peed2-span-icon card-button"><i class="icon-help peed2-icon"></i></span>
                <div class="peed2-span-text">Help</div>
            </span>
            <span class="peed2-div-item">
                <span class="peed2-span-icon card-button"><i class="icon-edit peed2-icon"></i></span>
                <div class="peed2-span-text">Edit</div>
            </span>
            <span class="peed2-div-item">
                <span class="peed2-span-icon card-button"><i class="icon-settings peed2-icon"></i></span>
                <div class="peed2-span-text">Settings</div>
            </span>
            <span class="peed2-span-cards">
                Cards
            </span>
        </div>
    </div>
    </div>
</div>
</div>

    <script>
        var dragItem = document.querySelector("#item");
        var container = document.querySelector("#container");
    
        var active = false;
        var currentX;
        var currentY;
        var initialX;
        var initialY;
        var xOffset = 0;
        var yOffset = 0;
    
        container.addEventListener("touchstart", dragStart, false);
        container.addEventListener("touchend", dragEnd, false);
        container.addEventListener("touchmove", drag, false);
    
        container.addEventListener("mousedown", dragStart, false);
        container.addEventListener("mouseup", dragEnd, false);
        container.addEventListener("mousemove", drag, false);
    
        function dragStart(e) {
          if (e.type === "touchstart") {
            initialX = e.touches[0].clientX - xOffset;
            initialY = e.touches[0].clientY - yOffset;
          } else {
            initialX = e.clientX - xOffset;
            initialY = e.clientY - yOffset;
          }
    
          if (e.target === dragItem) {
            active = true;
          }
        }
    
        function dragEnd(e) {
          initialX = currentX;
          initialY = currentY;
    
          active = false;
        }
    
        function drag(e) {
          if (active) {
          
            e.preventDefault();
          
            if (e.type === "touchmove") {
              currentX = e.touches[0].clientX - initialX;
              currentY = e.touches[0].clientY - initialY;
            } else {
              currentX = e.clientX - initialX;
              currentY = e.clientY - initialY;
            }
    
            xOffset = currentX;
            yOffset = currentY;
    
            setTranslate(currentX, currentY, dragItem);
          }
        }
    
        function setTranslate(xPos, yPos, el) {
          el.style.transform = "translate3d(" + xPos + "px, " + yPos + "px, 0)";
        }
      </script>
