<style>
       /*   .peed-outerdiv {
                       display: flex;
            flex-direction: row; */
            /* width: 620px; */
            /* margin-left: 30px; 
        }*/

        .card-button:hover{
            cursor: pointer;
        }

        .icon-button:hover{
            cursor: pointer;
            color: #515151;
        }

        .peed-div-home {
            display: inline-block;
            line-height: 24px;
            margin-left: 10px;
        }

        .peed-icon-home {
            font-size: 48px;
        }

        .peed-text-home {
            color: grey;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
        }

        * .peed-clear {
            display: inline-block;
            width: 100%;
        }

        .peed-icon-clear {
            font-size: 40px;
            color: red;
        }

        .peed-span-ta {
            border-style: solid;
            border-radius: 7px;
            border-color: #0070d1;
            margin-top: 12px;
            display: inline-block;
            position: relative;
            height: 44px;
            width: 100%;
        }

        .peed-span-clear {
            position: absolute;
            right: 0px;
            top: 0px;
            bottom: 0px;
        }

        /*         .peed-exp-div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
 */
        .peed-exp-text {
            color: #0070d1;
            font-size: 20px;
            margin-top: 20px;
        }

        .peed-clear-text {
            color: grey;
            font-size: 18px;
            float: right;
            line-height: 24px;
        }

        .peed-play {
            /*             display: flex;
            flex-direction: column;
            justify-content: flex-end; */
            margin-left: 9px;
            display: inline-block;
        }

        .peed-play-icon {
            font-size: 40px;
        }

        .peed-play-ispan {
            line-height: 28px;
        }

        .peed-play-text {
            color: grey;
            font-size: 18px;
            text-align: center;
        }

        .peed2-outerdiv {
            /*display: flex;
            flex-direction: row;*/
            background-color: #f0f0f0;
            /* width: 670px; */
            /* margin: 50px 0 0 30px; */
            padding: 10px 0 10px 50px;
        }

        .peed2-div-item {
            /* display: flex;
            flex-direction: column; */
            margin-left: 8px;
            display: inline-block;
        }

        .peed2-span-icon {
            border-style: solid;
            border-radius: 12px;
            border-color: #0070d1;
            padding: 7px 30px 7px 30px;
            border-width: 2px;
            display: inline-block;
        }

        .peed2-span-icon:hover {
            background-color: #e1f9fd;
            /* cursor: pointer; */
        }

        .peed2-icon {
            font-size: 28px;
        }

        .peed2-span-text {
            color: grey;
            font-size: 18px;
            text-align: center;
            margin-top: 6px;
        }

        .peed2-span-cards {
            font-size: 27px;
            color: #0070d1;
            display: inline-block;
            line-height: 55px;
            margin: 0px 15px 0px 20px;
        }

        .peed1-outerdiv {
            /* margin: 20px 0 0 40px; */
            padding: 10px 0 10px 50px;
            /* width: 600px; */
        }

        .peed1-span-item {
            display: flex;
            flex-direction: column;
            border-style: solid;
            border-radius: 10px;
            width: 100px;
            height: 70px;
            border-color: #0070d1;
            margin: 0 10px 10px 0;
            border-width: 2px;
        }

        .peed1-span-item:hover {
            background-color: #e1f9fd;
            /* cursor: pointer; */
        }

        .peed1-span-itext {
            text-align: center;
            padding-top: 10px;
            padding-bottom: 5px;

        }

        .peed1-span-iicon {
            text-align: center;
        }

        .peed1-icon {
            font-size: 28px;
        }

        .peed1-span-folder {
            display: flex;
            flex-direction: column;
            border-style: solid;
            border-radius: 10px;
            width: 100px;
            height: 70px;
            border-color: #0070d1;
        }

        .peed1-span-fnumber {
            text-align: center;
            padding-top: 10px;
        }

        .peed1-span-ftitle {
            padding-top: 10px;
            text-align: center;
        }
 /*        #item{
            opacity: 0.45;
        }
        #item:hover{
            opacity: 1;
        } */
    </style>

    <div style="display: inline-block; " id="container">
    <div style="background-color: #1b77db; padding-top: 30px; cursor: pointer;" id="item">
        <div style="background-color: white; cursor: default;">
        <div class="peed-outerdiv">
            <div style="width: 100%;">
                <table style="width: 100%;">
                    <colgroup>
                        <col width="75px">
                        <col width="*">
                        <col width="60px">
                        <col width="60px">

                    </colgroup>
                    <tr>
                        <td>
                            <span class="peed-div-home icon-button">
                                <div>
                                    <i class="icon-home peed-icon-home icon-button"></i>
                                </div>

                            </span>
                        </td>
                        <td>
                            <span class="peed-clear icon-button">
                                <div class="peed-span-ta">
                                    <span class="peed-span-clear">
                                        <i class="icon-clear peed-icon-clear icon-button"></i>
                                    </span>
                                </div>

                            </span>
                        </td>
                        <td>
                            <span class="peed-play icon-button">
                                <span class="peed-play-ispan">
                                    <i class="icon-play_arrow peed-play-icon icon-button"></i>
                                </span>

                            </span>
                        </td>
                        <td>
                            <span class="peed-play">
                                <span class="peed-play-ispan ">
                                    <i class="icon-share peed-play-icon icon-button"></i>
                                </span>
                            </span>
                        </td>
                    </tr>








                    <tr>
                        <td>
                            <div class="peed-text-home">
                                <!-- <span class=""></span> -->
                                Home
                            </div>
                        </td>
                        <td>
                            <div class="peed-exp-div">
                                <span class="peed-exp-text">1. Enter your experiences</span>
                                <span class="peed-clear-text">Clear</span>
                            </div>
                        </td>
                        <td>
                            <div class="peed-play-text">
                                Play
                            </div>
                        </td>
                        <td>
                            <div class="peed-play-text">
                                Share
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>



        <div class="peed1-outerdiv">
            <table>
                {% for rw in peed_ele_row %}
                <tr>
                    {% for cl in rw.peed_ele_col %}
                    <td>
                        <span class="peed1-span-item card-button">
                            <span class="peed1-span-itext">{{cl.text}}</span>
                            <span class="peed1-span-iicon"><i class="{{cl.icon}} peed1-icon" id="i{{cl.icon}}"></i></span>
                        </span>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>





        <div class="peed2-outerdiv">
            <span class="peed2-div-item">
                <span class="peed2-span-icon card-button"><i class="icon-profile peed2-icon"></i></span>
                <div class="peed2-span-text">About Me</div>
            </span>
            <span class="peed2-div-item">
                <span class="peed2-span-icon card-button"><i class="icon-help peed2-icon"></i></span>
                <div class="peed2-span-text">Help</div>
            </span>
            <span class="peed2-div-item">
                <span class="peed2-span-icon card-button"><i class="icon-edit peed2-icon"></i></span>
                <div class="peed2-span-text">Edit</div>
            </span>
            <span class="peed2-div-item">
                <span class="peed2-span-icon card-button"><i class="icon-settings peed2-icon"></i></span>
                <div class="peed2-span-text">Settings</div>
            </span>
            <span class="peed2-span-cards">
                Cards
            </span>
        </div>
    </div>
    </div>
</div>
</div>

    <script>
        var dragItem = document.querySelector("#item");
        var container = document.querySelector("#container");
    
        var active = false;
        var currentX;
        var currentY;
        var initialX;
        var initialY;
        var xOffset = 0;
        var yOffset = 0;
    
        container.addEventListener("touchstart", dragStart, false);
        container.addEventListener("touchend", dragEnd, false);
        container.addEventListener("touchmove", drag, false);
    
        container.addEventListener("mousedown", dragStart, false);
        container.addEventListener("mouseup", dragEnd, false);
        container.addEventListener("mousemove", drag, false);
    
        function dragStart(e) {
          if (e.type === "touchstart") {
            initialX = e.touches[0].clientX - xOffset;
            initialY = e.touches[0].clientY - yOffset;
          } else {
            initialX = e.clientX - xOffset;
            initialY = e.clientY - yOffset;
          }
    
          if (e.target === dragItem) {
            active = true;
          }
        }
    
        function dragEnd(e) {
          initialX = currentX;
          initialY = currentY;
    
          active = false;
        }
    
        function drag(e) {
          if (active) {
          
            e.preventDefault();
          
            if (e.type === "touchmove") {
              currentX = e.touches[0].clientX - initialX;
              currentY = e.touches[0].clientY - initialY;
            } else {
              currentX = e.clientX - initialX;
              currentY = e.clientY - initialY;
            }
    
            xOffset = currentX;
            yOffset = currentY;
    
            setTranslate(currentX, currentY, dragItem);
          }
        }
    
        function setTranslate(xPos, yPos, el) {
          el.style.transform = "translate3d(" + xPos + "px, " + yPos + "px, 0)";
        }
      </script>
