    <form class="sgs-form">
        <h3 class="sgs-h3">Sharing Settings</h3>
        <div>
            <div class="sgs-div-inner">
                <span class="sgs-sp-text">Can be used for Research</span>
                    <span><input type="checkbox" class="sgs-checkb"></span>
                    <span class="sgs-sp-userdata">Experience ID: 0118092019</span>
            </div>
            <div class="sgs-div-inner">
                <span class="sgs-sp-text">Is viewable by others</span>
                <span><input type="checkbox" class="sgs-checkb"></span>
                <span class="sgs-sp-userdata">Date: {% now "d-m-Y H:m" %}</span>
            </div>
            <div class="sgs-div-inner">
                 <span>&nbsp;</span>
                <audio id="submitSound" src="http://www.soundjay.com/button/beep-07.wav"></audio>
                 <span class="sgs-submit-button" onclick="submitButton(this.form)">Submit</span>
                 <span class="sgs-views-button" onclick="views()">Views</span>
            </div>
        </div>
    </form>
