
<script>
</script>
<body>
    <div style="display: block;">
    <form>
        <div>
            {% include './partials/userexperiencecontrolbase.html' with darr=ueftext.0 %}
        </div>
        <div>
        {% include './userexperiencecontrolbuttons.html' with darr=ueftext.1 %}
        </div>
        <div>
            {% include './partials/userexperiencecontrolbase.html' with darr=ueftext.2 %}
        </div>
    </form>
    </div>
<script>
    function submitButton(form) {
        audioObject = document.getElementById('submitSound')
        audioObject.play()
        audioObject.addEventListener("ended", function(){
             audioObject.currentTime = 0;
             console.log("ended");
             form.submit()
        });
    }
</script>
