
<style>


    textarea:focus,
    input:focus {
        outline: none;
    }

    .uef-buttontemp{
        border: solid;
        background-color: var(--autistica-mint-green);
        color: white;
        font-size: 20px;
        height: 35px;
        padding: 0 20px 0 20px;
        border-radius: 5px;
        transform: translateY(-8px);
        line-height: 35px;
        display: inline-block;
    }

    .uef-buttontemp:hover{
        background-color: aliceblue;
        color: black;
        border-color: white;
        cursor: pointer;
    }

    .uef-outer-div {
        border-radius: 0px 0px 10px 10px;
        border-width: 2px;
        border-style: solid;
        border-color: var(--autistica-mint-green);
        padding-bottom: 4px;
    }
    .uef-table {
        width: 100%;
        border-collapse: collapse;
    }
    .uef-tr1x {
        width: 100%;
        border-collapse: collapse;
    }
    .uef-tr2x {
        line-height: 55px;
    }
    .uef-td-wh {
        padding-left: 10px;
        border-right-color: #102f5c;
        border-right-style: solid;
        border-right-width: 3px;
    }
    .uef-span-whx {
        font-size: 22px;
    }
    .uef-td-input {
        padding-right: 10px;
    }
    .uef-td-txarea {
        width: 100%;
        height: 100%;
        resize: none;
        border: none;
    }


    .uef-top-box {
        background-color: var(--autistica-mint-green);
        padding: 20px 10px 20px 10px;
        border-radius: 10px 10px 0px 0px;
    }
    .uef-top-text {
        color: white;
        font-size: 20px;
        border: none;
    }

    .uef-outer-div {
        border-radius: 0px 0px 10px 10px;
        border-width: 2px;
        border-style: solid;
        border-color: var(--autistica-mint-green);
        padding-bottom: 4px;
    }

    .uef-table {
        width: 100%;
        border-collapse: collapse;
    }

    .uef-tr1 {
        border-bottom-color: var(--autistica-mint-green);
        border-bottom-style: solid; 
        border-bottom-width: 3px; 
        line-height: 55px
    }
    .uef-tr1-nb {
        line-height: 55px
    }

    .uef-tr2 {
        line-height: 55px;
    }

    .uef-td-wh {
        padding-left: 10px;
        padding-left: 10px;
        border-right-color: var(--autistica-mint-green);
        border-right-style: solid;
        border-right-width: 3px;
    }
     .uef-td-ip {
        width: 100%;
        border: none;
    }

    .uef-td-txareax {
        width: 100%;
        resize: none;
    }
    .uef-span-buttons {
    float: right;
    }

 </style>
<script>
</script>
<body>

    <div style="display: block;">
    <form>

        <div>

            {% include './partials/userexperiencecontrolbase.html' with darr=ueftext.0 %}
        </div>

        <div>
            {% include './userexperiencecontrolbuttons.html' with darr=ueftext.1 %}
        </div>

        <div>
            {% include './partials/userexperiencecontrolbase.html' with darr=ueftext.2 %}

        </div>

    </form>
    </div>
<script>
    function submitButton(form) {
        audioObject = document.getElementById('submitSound')
        audioObject.play()
        audioObject.addEventListener("ended", function(){
             audioObject.currentTime = 0;
             console.log("ended");
             form.submit()
        });
    }
</script>
