/* variables */
:root {
    --autistica-blue-primary: #1f3369;
    --autistica-blue-secondary: #3d65b1;
    --autistica-blue-light: #DFECF9;
    --autistica-blue-primary-font: #203467;
    --autistica-black: #000000;
    --autistica-white: #ffffff;
    --autistica-mint-green: #00a590;
    --autistica-dark-green: #00444f;
    --autistica-light-green: #e4f6f4;
    --autistica-bright-green: #2dfc30;
    --autistica-light-grey: #f2f5f6;
    --autistica-pink: #f08ba9;
    --autistica-grey: #e6e6ee;
    /*--autistica-blue-primary-secondary: #;*/
}


/*flex-box trick for content*/
body {
    min-height: 100vh;
}


.navbar-autistica-blue {
    background-color: var(--autistica-blue-primary) !important;
}

.navbar-autistica-grey {
    background-color: #444444 !important;
}

.banner-autistica-light-blue {
    background-color: var(--autistica-light-green) !important;
    color: var(--autistica-black) !important;
}

.nav-link {
    color: var(--autistica-mint-green) !important;
}

h1, h2, h3, h4, h5, h6 {
    color: #1b77db !important;
    padding: 10px;
}

.autistica-jumbotron {
    border-radius: 5px !important;
    background-color: white !important;
    border-color: var(--autistica-blue-secondary) !important;
    border-width: 3px;
    border-style: solid;
    padding: 2rem 1rem;
}

.autistica-card {
    border-radius: 5px !important;
    background-color: white !important;
    border-color: var(--autistica-mint-green) !important;
    border-width: 3px;
    border-style: solid;
}

.indexView {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.indexLeft {
    flex-basis: 49%;
}

.indexRight {
    flex-basis: 49%;
}

#galleryBanner {
    display: none;
    margin-bottom: 15px;
    text-align: center;
}

.indexRight {
    display: block;
    border-left: 3px solid gray;
    padding-left: 5px;
}

@media only screen and (max-width: 1200px) {
    #galleryBanner {
        display: block;
    }

    .indexRight {
        display: none;
    }

    .indexView {
        flex-direction: column;
    }

    .indexLeft {
        flex-basis: 100%;
    }
}