
<a name=""top"></a>
<div class="container-lg px-1">

    <!-- Static navbar -->
    {% include './components/navbar.html' %}

    <!-- Secondary Banner -->
    {% include './components/partials/banner.html' %}

 <span>&nbsp;&nbsp;About&nbsp;&nbsp;</span><i class="icon-label-24px"></i>
 <span>&nbsp;Information about the project, Open Humans, Autistica and The Turing</span>
    <!-- Newsletter Cards-->
    {% include 'main/../components/newsletterSignup.html' %}

    <div>Contacts</div>
    <div>This is a placeholder for a contacts section</div>
    <!-- Footer -->
    {% include './components/footer.html' %}

</div> <!-- /container -->

