<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{% load static %}
    <title>Configure</title>
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/main.css' %}">
   <link rel="stylesheet" href="{% static "css/style.css" %}">
<style>
    .cfg-icon {
        font-size: 40px;
        margin-left: 600px;
    }
    .cfg-heading {
        margin: 20px 0 0 20px;
        font-size: 25px;
    }
    .cfg-outerdiv {
        margin: 40px 0 0 40px;
    }
</style>
</head>
<body>
<span class="cfg-heading">Configure</span><i class="icon-config cfg-icon"></i>
<div class="cfg-outerdiv">
    <div><a href="https://www.openhumans.org/">Access & Data OH</a></div>
    <div><a href="https://github.com/alan-turing-institute/AutisticaPlatformPrototype">Configure Github</a></div>
</div>
</body>
</html>