<div style="padding: 20px;">
    <div style="margin-bottom: 20px;">
        <span class="cfg-heading">Configure</span><i class="icon-config cfg-icon"></i>
    </div>
    
    <div class="cfg-outerdiv">
        <div><a href="https://www.openhumans.org/">Access & Data OH</a></div>
        <br>
        <div><a href="https://github.com/alan-turing-institute/AutisticaPlatformPrototype">Configure Github</a></div>
        <br>
        <div><a href="https://github.com/alan-turing-institute/AutisticaPlatformPrototype">Code for site Github</a></div>
    </div>
    
</div>
