<html lang='en'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{ config.project_title |default:"My Open Humans Project" }}</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href="/static/css/fa/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap"
          rel="stylesheet">
    <!--<link rel="stylesheet" href="{% static "css/ico-style.css" %}">-->
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>


    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
<!--    <script src="https://kit.fontawesome.com/e8821c0857.js" crossorigin="anonymous"></script>-->

    <link rel="icon" type="image/png"
          href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/main.css' %}">
    <style>
        .codeblock{
            background-color: lightgray;
            padding: 5px;
            border-radius: 5px;
        }
       
        .componentblock{
            background-color: #eaeaea;
            padding: 8px;
            border-radius: 7px;
        }
    </style>

</head>

<body>
<a name=""top"></a>
<div class="container-lg px-1">

    <!-- This is the component gallery -->
    <!-- copy below, and uncomment to include a new component -->
    {#    <br>#}
    {#    <h3>#}
    {#        Component title #}
    {#        <small class="text-muted">Component Description</small>#}
    {#    </h3>#}
    {#    <!-- Static navbar -->#}
    {#    {% include 'path/to/html' %}#}

    <h2>
        Background - Why do we need a component gallery and what does the gallery's purpose achieve?   
    </h2>
    The component gallery is a showcase of all the visual components that make up the platform. The gallery's purpose is to show to platform testers and developers the kinds of components that make up the platform. Websites and website applications make are made up of many elements that each serve a specific purpose. , whilst the platform is in development,

    <h2>
        Django Templating system - How are platform components written and used?    
    </h2>
    The platform utilises Django's templating system so that common or repeatable sections of code can be written once in a generic template and then reused or included in a parent page. In order to include Django templates or components within a parent page we must utilise the Django include tag:
    <br>
    <br>
    <div class="codeblock">
        {{"{% include 'pathToComponentTemplate' %}"}}
    </div>
    
    
<!--     <br>
    and in the case of component showcase section of this Gallery for reference, there are is a parent gallery.html template file which includes  
    <br> -->
    
    
    <br>

    Some components have parameters which can be utilised to customise the appearance and content. As part of the Django include statement we can use the 'with' keyword to assign a value to a component template paramter name:
    <br>
    <br>
    <div class="codeblock">
        {{"{% include 'pathToComponentTemplate' with componentParameterName=value %}"}}
    </div>
    <br>
    
    More than one parameter can be defined on the include which is usefull if more than one parameters on a template need to be defined:
    <br>
    <br>
    <div class="codeblock">
    {{"{% include 'pathToComponentTemplate' with componentParameterName=value another anotherParameterName=secondValue %}"}}
    </div>
    <br>

    Django Parameter values can 

    Django 


    <br>
    <br>
    The Django templating system also allows for the functionality of extending base templates. This is very usefull as 

    The platform this is utilised for example in the 

    The platform makes use of Django template extensions

    <br>
    <br>
    <div class="codeblock">
    {{"{% extends 'pathToComponentTemplate' %}"}}
    </div>

    <br>
    <br>
    <div class="codeblock">
        {{"{% include 'pathToComponentTemplate' %}"}}
    </div>
    

    <br>
    <br>
    Django allows us to repeat over 
    Django for tag

    <br>
    <br>
    <div class="codeblock">
        {{"{% for  %}"}}
    </div>

    <br>
    <br>

    There are other Django templating tags and features which can be found <a href="https://docs.djangoproject.com/en/3.0/ref/templates/builtins/" target="_blank">here</a>. For other Django related documentation please see <a href="https://docs.djangoproject.com/en/3.0/" target="_blank">here</a>. 

    <h2>
        Component showcase
    </h2>


        {% include './components/partials/gallery_panels_expand.html' with PanelData=AP_gallery_panels%}

    <br>

        {% include './components/partials/gallery_animated_panels_expand.html' with PanelData=AP_gallery_animated_panels%}

        <br>

        {% include './components/partials/gallery_navigation_expand.html' with PanelData=AP_gallery_navigation%}

    <br>
    <div class="componentblock">
    <h3>
        Newsletter Cards
        <small class="text-muted">This component organises key information and logical aspects of the page</small>
    </h3>
    <!-- Newsletter Cards -->
    {% include './components/newsletterCards.html' %}
    </div>
    <br>

    <div class="componentblock">
    <h3>
        User Journey Stepped Control
        <small class="text-muted">This component is a navigational feedback element. It shows to the user how many steps of a process there are, how many steps have been completed and finally the current step the user is at.</small>
    </h3>
    <!-- User Journey Stepped Control -->
    {% load userJourney %}
    <form id="stepper" method="POST">{% csrf_token %}
        {% display_user_journey request.session.activeStepper stepper %}
    </form>

    "stepper": [
    {
        "id": 1,
        "label": "Login"
    },
    {
        "id": 2,
        "label": "Define Profile"
    },
    {
        "id": 3,
        "label": "Add Event"
    }
],
    </div>
    <br>


    <div class="componentblock">
    <h3>
        Newsletter Signup
        <small class="text-muted">Component Description</small>
    </h3>
    <!-- Newsletter Signup -->
    {% include './components/newsletterSignup.html' %}

    <h4>Template Inclusion</h4>

      Template name: newsletterSignup.html

      </div>
    <br>
    <br>

    <div class="componentblock">
    <h3>
        Language Selector
        <small class="text-muted">This component allows the user to change the language setting of the platform</small>
    </h3>
    <!-- Language Selector -->
    {% include './components/languageSelector.html' %}

    <h4>Template Inclusion</h4>

    Template name: languageSelector.html
    </div>
    <br>
    <br>

    <div class="componentblock">
    <h3>
       Defined Profile
       <small class="text-muted">This component allows a user to adjust their profile type so that the platform can best match the user's use case</small>
   </h3>
   <!-- Define profile -->
   {% include './components/defineprofile.html' %}
   <h4>Template Inclusion</h4>

   Template name: defineprofilehtml
    </div>
   <br>
   <br>

   <div class="componentblock">
    <h3>
       User Experience Form
       <small class="text-muted">This component allows a user to create and submit with data sharing preferences their experience which they would like to share with the platform</small>
   </h3>
   <!-- User experience form -->
   {% include './components/userexperienceform.html' %}

   <h4>Template Inclusion</h4>

   Template name: userexperienceform.html
   
    <br>
    <br>

   "ueftext": [
   {
       "rows": [
       {
           "qtext": "Where",
           "qcolour": "#4d75ad",
           "phtext": "Enter name of location or postcode...",
           "input": "ip"
       },
       {
           "qtext": "What",
           "qcolour": "#ffbb5d",
           "phtext": "Your experience can be entered here...",
           "input": "ta"
       }
       ],
       "maintext": "Enter your experience"
   },
   {
       "rows": [
       {
            "qtext": "What",
            "qcolour": "#ffbb5d",
            "phtext": "",
            "input": "ta"
       }
       ],
           "maintext": "What would you have wished to be different?"
   }
   ],
</div>
   <br>


   <div class="componentblock">

   <h3>
        Experience Viewer Control
        <small class="text-muted">This control allows a user to browse through their own or other's publicly shared experiences</small>
    </h3>
    <!-- Experience Viewer Control -->
    {% include './components/experienceviewercontrol.html' %}
    <h4>Template Inclusion</h4>

      Template name: experienceviewercontrol.html
    <br>
    <br>
    "user_exp": [
    {
        "id": "32097868",
        "datetime": "Sept 18, 2019, 10:31 a.m.",
        "user_txt": [
            {
                "question": "Event",
                "text": "The air conditioning in the room where I was having a meeting was really loud and I found it really hard to concentrate."
            },
            {
                "question": "What would you have liked to be different?",
                "text": ""
            }
        ]
    },
    {
        "id": "19279611",
        "datetime": "Sept 17, 2019, 8:46 a.m.",
        "user_txt": [
            {
                "question": "Event",
                "text": "The tube is too loud."
            },
            {
                "question": "What would you have liked to be different?",
                "text": ""
            }
        ]
    },
    {
        "id": "32097868",
        "datetime": "Sept 17, 2019, 8:45 a.m.",
        "user_txt": [
            {
                "question": "Event",
                "text": "I'm at a conference today and I found people not using the microphone really difficult - it makes it much harder to concentrate on what they were saying. I was much more distracted."
            },
            {
                "question": "What would you have liked to be different?",
                "text": ""
            }
        ]
    }
],
   </div>
   <br>


   <div class="componentblock">
   <br>
      <h3>
        Community Approval Mechanism
        <small class="text-muted"></small>
    </h3>
    <!-- community approval mechanism -->
    {% include './components/communityapprovalmechanism.html' %}
    <h4>Template Inclusion</h4>

      Template name: communityapprovalmechanism.html
    <br>
   </div>

  
   <br>
   <div class="componentblock">
      <h3>
        Moderation of New Experiences
        <small class="text-muted">This component allows platform moderators to see an overview of how many blocked and approved user experiences their are. Moderators can use this component to filter through the available experience submissions.</small>
    </h3>
    <!-- Moderation of New Experiences -->
    {% include './components/moderationofnewexperiences.html' %}
    <h4>Template Inclusion</h4>

    Template name: moderationofnewexperiences.html
    <br>
    <br>
    "MONE_data": [
            {
                "UID": "0000001",
                "EID": "32097868",
                "date": "18/09/19",
                "Event_What": "The air conditioning in the room where I was having a meeting was really loud and I found it really heard to concentrate, it was a rubbish experience.",
                "Location_Where": "NW1 2HS",
                "LikeToBeDifferent": "I would have liked the air conditioning to less loud to aid my concentration",
                "Summary": "Loud Air Conditioning"
            },
            {
                "UID": "0000002",
                "EID": "32097867",
                "date": "17/09/19",
                "Event_What": "The tube is too loud.",
                "Location_Where": "NW1 8NH",
                "LikeToBeDifferent": "would have liked the tube to be less loud",
                "Summary": "Loud Tube"
            },
            {
                "UID": "0000003",
                "EID": "32097866",
                "date": "17/09/19",
                "Event_What": "I'm at a conference today and I found the people not using the microphone really difficult - it makes it harder to concentrate on what they were saying. I was much more distracted.",
                "Location_Where": "SE15 5DQ",
                "LikeToBeDifferent": "For people in conferences to use a microphone. To aid my concentration and reduce my distraction.",
                "Summary": "None use of microphone in conference"
            }
        ],
   </div>                             
   <br>


   <div class="componentblock">
   <h3>
     Documentation Viewer
     <small class="text-muted">Component Description</small>
    </h3>
    <!-- Documentation viewer -->
        {% include './components/documentationviewer.html' %}

    <h4>Template Inclusion</h4>

        Template name: documentationviewer.html

   </div>    
    <br>
    <br>

    

 

</div> <!-- /container -->
</body>

<script type="text/javascript" src="{% static 'scripts/components/modal.js'%}"></script>
<script type="text/javascript" src="{% static 'scripts/components/slidingpanel.js'%}"></script>
</html>
