<html lang='en'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{ config.project_title |default:"My Open Humans Project" }}</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href="/static/css/fa/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap"
          rel="stylesheet">
    <!--<link rel="stylesheet" href="{% static "css/ico-style.css" %}">-->
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>


    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
<!--    <script src="https://kit.fontawesome.com/e8821c0857.js" crossorigin="anonymous"></script>-->

    <link rel="icon" type="image/png"
          href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/main.css' %}">

</head>

<body>
<a name=""top"></a>
<div class="container-lg px-1">

    <!-- This is the component gallery -->
    <!-- copy below, and uncomment to include a new component -->
    {#    <br>#}
    {#    <h3>#}
    {#        Component title #}
    {#        <small class="text-muted">Component Description</small>#}
    {#    </h3>#}
    {#    <!-- Static navbar -->#}
    {#    {% include 'path/to/html' %}#}



    <h1>
        Component showcase
    </h1>


        {% include './components/partials/gallery_panels_expand.html' with PanelData=AP_gallery_panels%}

    <br>

        {% include './components/partials/gallery_animated_panels_expand.html' with PanelData=AP_gallery_animated_panels%}

        <br>

        {% include './components/partials/gallery_navigation_expand.html' with PanelData=AP_gallery_navigation%}

    <br>
    <h3>
        Newsletter Cards
        <small class="text-muted">This component organises key information and logical aspects of the page</small>
    </h3>
    <!-- Newsletter Cards -->
    {% include './components/newsletterCards.html' %}

    <br>
    <h3>
        User Journey Stepped Control
        <small class="text-muted">This component is a navigational feedback element. It shows to the user how many steps of a process there are, how many steps have been completed and finally the current step the user is at.</small>
    </h3>
    <!-- User Journey Stepped Control -->
    {% load userJourney %}
    <form id="stepper" method="POST">{% csrf_token %}
        {% display_user_journey request.session.activeStepper stepper %}
    </form>

    "stepper": [
    {
        "id": 1,
        "label": "Login"
    },
    {
        "id": 2,
        "label": "Define Profile"
    },
    {
        "id": 3,
        "label": "Add Event"
    }
],
    <br>
    <h3>
        Newsletter Signup
        <small class="text-muted">Component Description</small>
    </h3>
    <!-- Newsletter Signup -->
    {% include './components/newsletterSignup.html' %}

    <br>
    <h3>
        Language Selector
        <small class="text-muted">Component Description</small>
    </h3>
    <!-- Language Selector -->
    {% include './components/languageSelector.html' %}

    <br>
    <h3>
       Defined Profile
       <small class="text-muted">Component Description</small>
   </h3>
   <!-- Define profile -->
   {% include './components/defineprofile.html' %}

   <br>
    <h3>
       User Experience Form
       <small class="text-muted">Component Description</small>
   </h3>
   <!-- User experience form -->
   {% include './components/userexperienceform.html' %}

   "ueftext": [
   {
       "rows": [
       {
           "qtext": "Where",
           "qcolour": "#4d75ad",
           "phtext": "Enter name of location or postcode...",
           "input": "ip"
       },
       {
           "qtext": "What",
           "qcolour": "#ffbb5d",
           "phtext": "Your experience can be entered here...",
           "input": "ta"
       }
       ],
       "maintext": "Enter your experience"
   },
   {
       "rows": [
       {
            "qtext": "What",
            "qcolour": "#ffbb5d",
            "phtext": "",
            "input": "ta"
       }
       ],
           "maintext": "What would you have wished to be different?"
   }
   ],
   <br>
  
   <h3>
        Experience Viewer Control
        <small class="text-muted">Component Description</small>
    </h3>
    <!-- Experience Viewer Control -->
    {% include './components/experienceviewercontrol.html' %}

    "user_exp": [
    {
        "id": "32097868",
        "datetime": "Sept 18, 2019, 10:31 a.m.",
        "user_txt": [
            {
                "question": "Event",
                "text": "The air conditioning in the room where I was having a meeting was really loud and I found it really hard to concentrate."
            },
            {
                "question": "What would you have liked to be different?",
                "text": ""
            }
        ]
    },
    {
        "id": "19279611",
        "datetime": "Sept 17, 2019, 8:46 a.m.",
        "user_txt": [
            {
                "question": "Event",
                "text": "The tube is too loud."
            },
            {
                "question": "What would you have liked to be different?",
                "text": ""
            }
        ]
    },
    {
        "id": "32097868",
        "datetime": "Sept 17, 2019, 8:45 a.m.",
        "user_txt": [
            {
                "question": "Event",
                "text": "I'm at a conference today and I found people not using the microphone really difficult - it makes it much harder to concentrate on what they were saying. I was much more distracted."
            },
            {
                "question": "What would you have liked to be different?",
                "text": ""
            }
        ]
    }
],
   <br>
      <h3>
        Community Approval Mechanism
        <small class="text-muted">Component Description</small>
    </h3>
    <!-- community approval mechanism -->
    {% include './components/communityapprovalmechanism.html' %}

   <br>
      <h3>
        Moderation of New Experiences
        <small class="text-muted">Component Description</small>
    </h3>
    <!-- Moderation of New Experiences -->
    {% include './components/moderationofnewexperiences.html' %}
    "MONE_data": [
            {
                "UID": "0000001",
                "EID": "32097868",
                "date": "18/09/19",
                "Event_What": "The air conditioning in the room where I was having a meeting was really loud and I found it really heard to concentrate, it was a rubbish experience.",
                "Location_Where": "NW1 2HS",
                "LikeToBeDifferent": "I would have liked the air conditioning to less loud to aid my concentration",
                "Summary": "Loud Air Conditioning"
            },
            {
                "UID": "0000002",
                "EID": "32097867",
                "date": "17/09/19",
                "Event_What": "The tube is too loud.",
                "Location_Where": "NW1 8NH",
                "LikeToBeDifferent": "would have liked the tube to be less loud",
                "Summary": "Loud Tube"
            },
            {
                "UID": "0000003",
                "EID": "32097866",
                "date": "17/09/19",
                "Event_What": "I'm at a conference today and I found the people not using the microphone really difficult - it makes it harder to concentrate on what they were saying. I was much more distracted.",
                "Location_Where": "SE15 5DQ",
                "LikeToBeDifferent": "For people in conferences to use a microphone. To aid my concentration and reduce my distraction.",
                "Summary": "None use of microphone in conference"
            }
        ],                             
   <br>
   <h3>
     Documentation Viewer
     <small class="text-muted">Component Description</small>
    </h3>
    <!-- Documentation viewer -->
        {% include './components/documentationviewer.html' %}
    <br>

    <br>
     <h3>
        Expanding Panel
        <small class="text-muted">Component Description</small>
    </h3>
    <!-- Moderation of New Experiences -->
    {% include './components/partials/expandingpanel.html' with PanelData=AP_blank PanelContent=AP_blank.content %}


 

</div> <!-- /container -->
</body>

<script type="text/javascript" src="{% static 'scripts/components/modal.js'%}"></script>
<script type="text/javascript" src="{% static 'scripts/components/slidingpanel.js'%}"></script>
</html>
