<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{% load static %}
    <title>Get involved</title>
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/main.css' %}">
   <link rel="stylesheet" href="{% static "css/style.css" %}">
<style>
    .gi-icon {
        font-size: 40px;
        margin-left: 600px;
    }
    .gi-heading {
        margin: 20px 0 0 20px;
        font-size: 25px;
    }
    .gi-outerdiv {
        margin: 40px 0 0 40px;
    }
</style>
</head>
<body>
<span class="gi-heading">Get involved</span><i class="icon-get-involved gi-icon"></i>
<div class="gi-outerdiv">
    <div><a href="https://www.openhumans.org/">Open Humans</a></div>
    <div><a href="https://github.com/alan-turing-institute/AutisticaCitizenScience">Github</a></div>
    <div><a href="#">Participant Sheet</a></div>
    <div><a href="/about">Subscribe</a></div>
    <div><a href="/about">Contact</a></div>
</div>
</body>
</html>