<style>
    .gi-icon {
        font-size: 40px;
        float: right;
    }
    .gi-heading {

        font-size: 25px;
    }
    .gi-outerdiv {

    }
</style>
<div style="padding: 20px;">
    <div style="margin-bottom: 20px;">
        <span class="gi-heading">Get involved</span><i class="icon-get-involved gi-icon"></i>
    </div>
    
    <div class="gi-outerdiv">
        <div><a href="https://www.openhumans.org/">Open Humans</a></div>
        <br>
        <div><a href="https://github.com/alan-turing-institute/AutisticaCitizenScience">Github</a></div>
        <br>
        <div><a href="#">Participant Sheet</a></div>
        <br>
        <div><a href="/about">Subscribe</a></div>
        <br>
        <div><a href="/about">Contact</a></div>
    </div>
</div>
