
<a name=""top"></a>
<div class="container-lg px-1">

    <!-- Static navbar -->
    {% include './components/navbar.html' %}

    <!-- Secondary Banner -->
    {% include './components/partials/banner.html' %}

 <a href="/home"><i class="icon-home" style="font-size: 25px;"></i></a><span>&nbsp;&nbsp;Home&nbsp;&nbsp;</span><i class="icon-label-24px"></i>
 <span>&nbsp;Supporting Autism Research</span>

 <div style="margin:15px">


    {% include './components/partials/jumbotron.html' %}

    <div class="card-deck" style="margin: 10px;">
        {% include './components/newsletterCards.html' %}

        <div class="card autistica-card my-3">
            {% include './configure.html' %}
        </div>

        <div class="card autistica-card my-3">
            {% include './getinvolved.html' %}
        </div>
    </div>
</div>   
      
    <!-- Footer -->
    {% include './components/footer.html' %}

</div> <!-- /container -->

