<a name=""top"></a>
<div class="container-lg px-1">

    <!-- Static navbar -->
    {% include 'main/../components/navbar.html' %}

    <!-- Secondary Banner -->
    {% include 'main/../components/banner.html' %}

 <span>&nbsp;&nbsp;Moderation&nbsp;&nbsp;</span><i class="icon-label-24px"></i>
 <span>&nbsp;Where moderators review users submissions</span>

    {% include 'main/../components/communityapprovalmechanism.html' %}
    {% include 'main/../components/moderationofnewexperiences.html' %}
    <!-- Footer -->
    {% include 'main/../components/footer.html' %}

</div> <!-- /container -->
