<a name=""top"></a>
<div class="container-lg px-1">

    <!-- Static navbar -->
    {% include './components/navbar.html' %}

    <!-- Secondary Banner -->
    {% include './components/partials/banner.html' %}

 <a href="/home"><i class="icon-home" style="font-size: 25px;"></i></a><span>&nbsp;&nbsp;Settings&nbsp;&nbsp;</span><i class="icon-label-24px"></i>
 <span>&nbsp;Where the user can change accessibility settings</span>
    <!-- Footer -->
    {% include './components/footer.html' %}

</div> <!-- /container -->

