<style>
    .sh-outerdiv {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 400px;
    }
    .ui-button {
        color: var(--autistica-white);
        background-color: var(--autistica-mint-green);
        border-color: var(--autistica-mint-green);
        padding: 5px;
        margin: 0 0 20px 10px;
        float: right;
    }
    .nv-button {
        color: var(--autistica-white);
        background-color: var(--autistica-mint-green);
        border-color: var(--autistica-mint-green);
        padding: 5px;
        margin: 0 0 20px 10px;
        float: right;
    }
</style>
<script>
    function switchNonVerbal() {
    uef = document.getElementById("uef");
    peed = document.getElementById("peed");
    if (uef.style.display == "block")
    {
        uef.style.display = "none";
        peed.style.display = "block";
   }
    else
    {
        uef.style.display = "block";
        peed.style.display = "none";
    }
}
</script>
    <a name=""top"></a>
    <div class="container-lg px-1">

    <!-- Static navbar -->
    {% include './components/navbar.html' %}


    <span>&nbsp;&nbsp;Share&nbsp;&nbsp;</span><i class="icon-label-24px"></i>
    <span>&nbsp;Where users can enter their experiences</span>
    <div class="sh-outerdiv">
        <div><i class="icon-database-solid" style="font-size: 40px;"></i></div>
        <div>
            <div style="font-size: 25px;">Add Event</div>
            <div>Talk about any experience in your daily life</div>
        </div>
    </div>
    <div>
        <span onclick="citizenSciencePlatform_modalfunctions.ShowModal('shareimage')" class="ui-button"><u>Upload</u></span>
        <span onclick="switchNonVerbal()" class="nv-button"><u>Non Verbal</u></span>
    </div>
    <!-- User experience form -->
    <div id="uef" style="display: block;">
    {% include 'main/../components/userexperienceform.html' %}
    </div>
    <div id="peed" style="display: none;">
    {% include './components/pictorialexperienceeditor.html' %}
    </div>
    {% include './components/imageupload.html' with modalID="shareimage"%}

    <!-- Footer -->
    {% include './components/footer.html' %}

</div> <!-- /container -->
