<style>
    .sh-outerdiv {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 400px;
    }
    .ui-button {
        background-color: #58D0D0;
        padding: 5px;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        float: right;
    }
    .nv-button {
        background-color: #58D0D0;
        padding: 5px;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        float: right;
    }
</style>
<script>
    function switchNonVerbal() {
    uef = document.getElementById("uef");
    peed = document.getElementById("peed");
    if (uef.style.display == "block")
    {
        uef.style.display = "none";
        peed.style.display = "block";
        document.getElementById("nonVerbalSwitchBtn").innerHTML = "Experience Form"
   }
    else
    {
        uef.style.display = "block";
        peed.style.display = "none";
        document.getElementById("nonVerbalSwitchBtn").innerHTML = "Non Verbal"
    }
}
</script>
    <a name=""top"></a>
    <div class="container-lg px-1">

    <!-- Static navbar -->
    {% include './components/navbar.html' %}

    <!-- Secondary Banner -->
    {% include './components/partials/banner.html' %}

    <span>&nbsp;&nbsp;Share&nbsp;&nbsp;</span><i class="icon-label-24px"></i>
    <span>&nbsp;Where users can enter their experiences</span>
    <div class="sh-outerdiv">
        <div><i class="icon-database-solid" style="font-size: 40px;"></i></div>
        <div>
            <div style="font-size: 25px;">Add Event</div>
            <div>Talk about any experience in your daily life</div>
        </div>
    </div>

    <div style="margin: 20px; height:5px;">
        <span onclick="citizenSciencePlatform_modalfunctions.ShowModal('shareimage')" id="showImageUpload" data-height="400" data-width="600" style="background-color: var(--autistica-mint-green); padding: 10px; border-radius: 5px; color: white; float:right; cursor: pointer">Upload</span>
<!--        <span onclick="citizenSciencePlatform_modalfunctions.ShowModal('shareimage')" id="showImageUpload" style="background-color: var(--autistica-mint-green); padding: 10px; border-radius: 5px; color: white; float:right; cursor: pointer">Upload</span>-->
        <span onclick="switchNonVerbal()" id="nonVerbalSwitchBtn" style="background-color: var(--autistica-mint-green); padding: 10px; border-radius: 5px; color: white; float: right; margin-right: 10px; cursor: pointer">Non Verbal</span>

    </div>
        <br><br>
    <!-- User experience form -->
    <div id="uef" style="display: block;">
    {% include 'main/../components/userexperienceform.html' %}
    </div>

    <div id="peed" style="display: none;">
    {% include './components/pictorialexperienceeditor.html' %}
    </div>
    {% include './components/sharesettings.html' %}
    {% include './components/imageupload.html' with modalID="shareimage"%}

    <!-- Footer -->
    {% include './components/footer.html' %}

</div> <!-- /container -->
