
    <!-- all content must go inside the container -->
    <nav
      id="galleryBanner"
      class="navbar navbar-expand navbar-expand-md banner-autistica-light-blue"
    >
      <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="/gallery"
          >Click here to view the component Gallery</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target=".dual-collapse2"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    <div class="indexView">
      <div class="indexLeft">
        <h1>Live Prototype</h1>

        <div class="container-lg px-0">
          {% for page in navlinks %} 
            {% if navpage == page.linkName %} 
              {%include ""|add:page.template with pagename=navpagee links=navlinks %}
            {% endif %} 
          {% endfor %} 
          {% for message in messages %}
          <div class="alert alert-info" role="alert">{{ message }}</div>
          {% endfor %} {% block content %} {% endblock %}
        </div>
      </div>
      <div class="indexRight">
        <h1>Component Gallery</h1>
        {% include "gallery.html" %}
      </div>
    </div>

