{% extends './expandingpanel.html' %}

{% block PanelContent %}
<div style="margin: 10px;">


    <style>
        .ma_outerdiv {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    
        .ma_button {
            background-color: red;
            color: white;
            border: none;
            border-radius: 7px;
            font-size: 20px;
            padding: 10px 40px 10px 40px;
            margin-left: 20px;
        }
    
        .ma_text {
            padding-top: 12px;
            margin-right: 20px;
        }
        </style>
    
        <h3>
           Modular Alert
           <small class="text-muted">Component Description</small>
       </h3>
       <div class="ma_outerdiv">
            <span class="ma_text">Timeout Save Alert Test</span>
            <span><button class="ma_button" onclick="showModularAlert('Timeout Save', 'Inactive for 10 minutes, in 2 minutes time your event will be saved as a draft', 1)"><u>Alert</u></button></span>
       </div>
       <!-- Modular alerts -->
       {% include '../modularalerts.html' with modalID="modularAlert" %}
    
       <br>
      <h3>
        Image Upload
        <small class="text-muted">Component Description</small>
    </h3>
    <!-- Moderation of New Experiences -->
    <div class="ui-master-div">
        <div>
            <button onclick="showImageUpload()">Upload</button>
        </div>
    </div>

    {% include '../imageupload.html' with modalID="imageUpload"%}

    <br>
    <h3>
      Accessibility Panel
      <small class="text-muted">Component Description</small>
  </h3>
  <!-- Moderation of New Experiences -->
  <div>
      <i class="icon-access" style="font-size: 40px;" onclick="citizenSciencePlatform_slidingpanelfunctions.OpenPanel('accessibilitypannel')"></i>
  </div>
  {% include '../accessibilitypanel.html' with PanelID="accessibilitypannel" Direction="left" %}


</div>
{% endblock %}