{% extends './expandingpanel.html' %}

{% block PanelContent %}
<div style="margin: 10px;">

    <div class="componentblock">
<h3>
    Secondary banner
    <small class="text-muted">This component is used to display a tagline to the user, it provides a short description about what the page is about and how the user should be expected to interact with the page</small>
</h3>
<!-- Secondary Banner -->
{% include './banner.html' %}
</div>
<br>
<div class="componentblock">
<h3>
    Secondary banner Alt
    <small class="text-muted">Component Description</small>
</h3>
<!-- Secondary Banner -->
{% include '../alt_banner.html' %}
</div>
<br>

<div class="componentblock">
<h3>
    Jumbotron
    <small class="text-muted">This component is used to show key and important information. </small>
</h3>
<!-- Jumbotron -->
{% include './jumbotron.html' %}
</div>


<br>


<div class="componentblock">
<h3>
    Card
    <small class="text-muted">This component is used to show key and important information. </small>
</h3>
<!-- Jumbotron -->

<div class="card autistica-card" style="width: 40rem;">
    <div class="card-body">
      <h4 class="card-title hiw-heading">Title</h4>
      <div class="hiw-body">
        Card Body
      </div>
    </div>
</div>

<pre>
<code>
&lt;div class="card autistica-card" style="width: 40rem;"&gt;
<br>&lt;div class="card-body"&gt;
<br>&lt;h4 class="card-title hiw-heading">Title&lt;/h4&gt;
<br>&lt;div class="hiw-body"&gt;
<br>Card Body
<br>&lt;/div&gt;
<br>&lt;/div&gt;
<br>&lt;/div&gt;
</code>
</pre>
</div>


<br>
<div class="componentblock">
     <h3>
        Expanding Panel
        <small class="text-muted">Component Description</small>
    </h3>
    <!-- Moderation of New Experiences -->
    {% include './expandingpanel.html' with PanelData=AP_blank PanelContent=AP_blank.content %}
</div>

</div>
{% endblock %}