<style>
        .ma-div-screen {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        background-color: #1e3963cf;
        z-index: 1;
        display: none;
    }

    .ma-divts {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: var(--md-left);
        margin-top: var(--md-top);
        background-color: white;
        width: var(--md-width);
        height: var(--md-height);
        border: none;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
    }

    .ma-div-cb {
        display: flex;
    /* flex-direction: row; */
    width: 100%;
    margin-top: 30px;
    margin-left: 10px;
    justify-content: flex-end;
    transform: translate(-4px, 6px);
    line-height: 24px;
    }

    .ma_close_button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    /* padding-top: 5px; */
    /* padding-right: 5px; */
    padding: 5px 9px 5px 9px;
    border-radius: 7px;
    margin: 2px;
    line-height: 30px;
    display: inline-block;
    }
    .ma_close_button:hover {
        cursor: pointer;
        background-color: #f71919b3;
    }
</style>

{% block componentStyle%}
{% endblock %}

<div class="ma-div-screen" id="{{modalID}}">
    <div class="ma-divts">
            <span class="ma_close_button" onclick="citizenSciencePlatform_modalfunctions.HideModal('{{modalID}}')">
                <i class="fas fa-times"></i>
            </span>
        {% block componentContent %}
        {% endblock %}
    </div>
</div>


{% block componentFunctions %}
{% endblock %}